*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

header{
    border-bottom: 2px solid rgb(99, 99, 99);
}

.container{
    width: 1040px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    background-color: aquamarine;
    padding: 3px;
}

.topNav{
    padding: 15px;
}

img{
    width: 100px;
    margin-right: 20px;
}

ul{
    list-style-type: none;
    font-size: 20px;
    font-weight: bold;
    padding-left: 15px;
    gap: 30px;
}

li a{
    color: black;
}

.active{
    color:rgb(23, 116, 255);
    border-bottom: 4px solid rgb(23, 116, 255);
    padding-bottom: 15px;
}

.mb-10{
    margin-bottom: 100px;
}